pandas
numpy
matplotlib
seaborn
networkx
statsmodels
lxml
wordcloud
country_converter
plotly
empath
spacy
coreferee
#neuralcoref
wincertstore
ipykernel
dateparser
fuzzywuzzy
python-Levenshtein
nbformat>=4.2.0
kaleido